html, body {
  height: 100%;
  width: 100%;
  margin: 0
}

body {
  min-height: 100%;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

.body {
  overflow: hidden;
}

.container {
  min-height: 100%;
  width: 100%;
  /*min-width: 100%;*/
  position: relative;
}

.main-body {
  padding-bottom: 82px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: block;
}

.center-parts {
  padding-top: 20px;
  position: relative;
  height: 10rem;
}

.item {
  padding: 1rem;
  box-sizing: border-box;
  display: block;
  background-color: #4DC7A0;
  position: relative;
  /*top: 0;*/
  float: left;
  width: 100px;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  margin-bottom: 30px;
  margin-right: 30px;
}

.active-1 {
  background-color: red;
  opacity: 1;
  filter: alpha(opacity=100);
}
.active {
  opacity: 1;
  filter: alpha(opacity=100);
}

.previous{
  margin: 5px;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
}

.next{
  margin: 5px;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
}

.dots {
  display: inline-block;
}

.button {
  padding-left: 10px;
  border: none;
  background: 0 0;
  position: relative;
  background: #D6D6D6;
  width: 12px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.button:focus {
  border: 1px solid #4d90fe;
}

.box{
  height: 12px;
  width: 12px;
  border-radius: 25%;
}
